{% extends "base.html.twig" %}

{% block content %}
<div class="error-exception">
    <div>
        {% block error %}
            {{ message }}
        {% endblock error %}
    </div>
</div>
{% endblock content %}